@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
:root {
  --bright-blue: rgb(58, 123, 253);
  --check-background: linear-gradient(rgb(87, 221, 255), rgb(192, 88, 243));

  --white: hsl(0, 0%, 100%);
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(235, 32%, 92%);
  --light-grayish-blue-1: hsl(233, 11%, 84%);
  --dark-grayish-blue-1: hsl(237, 9%, 61%);
  --very-dark-grayish-blue-1: hsl(235, 19%, 35%);

  --very-dark-blue: hsl(235, 21%, 11%);
  --very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --light-grayish-blue-2: hsl(234, 39%, 85%);
  --light-grayish-blue-hover: hsl(235, 32%, 92%);
  --dark-grayish-blue-2: hsl(233, 11%, 52%);
  --very-dark-grayish-blue-2: hsl(233, 14%, 35%);
  --darkest-grayish-blue: hsl(237, 14%, 26%);

  --default-font: "Josefin Sans", "sans-serif";

  --bg-image: url("./images/bg-desktop-dark.jpg");
  --bg-image-light: url("./images/bg-desktop-light.jpg");
  --bg-image-mobile: url("./images/bg-mobile-dark.jpg");
  --bg-image-mobile-light: url("./images/bg-mobile-light.jpg");
}

.dark {
  --bg: var(--very-dark-blue);
  --border: var(--darkest-grayish-blue);
  --bg-list: var(--very-dark-desaturated-blue);
  --color-list: var(--light-grayish-blue-2);
  --color-options: var(--dark-grayish-blue-2);
  --color-options-hover: white;
  --color-completed: var(--very-dark-grayish-blue-2);
}

.light {
  --bg: var(--very-light-gray);
  --border: var(--very-light-grayish-blue);
  --bg-list: var(--white);
  --color-list: var(--very-dark-grayish-blue-1);
  --color-options: var(--dark-grayish-blue-1);
  --color-options-hover: black;
  --color-completed: var(--light-grayish-blue-1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  @media screen and (max-width: 650px) {
    font-size: 52.5%;
  }
}
